<div>
  <table class="client-list">
    <tbody>
    <tr>
      <th>ФИО</th>
      <th>Характер</th>
      <th>Возраст</th>
      <th>Общий остаток счетов</th>
      <th>Максимальный остаток</th>
      <th>Минимальный остаток</th>
    </tr>

    <tr *ngFor="let record of list" [ngClass]="{active: selectedId === record.id}" (click)="selectedId = record.id">
      <td>{{record.fio}}</td>
      <td>{{record.charm}}</td>
      <td>{{record.age}}</td>
      <td>{{record.totalBalance}}</td>
      <td>{{record.maxBalance}}</td>
      <td>{{record.minBalance}}</td>
    </tr>

    </tbody>
  </table>
  <div>
    <button class="buttonStyle editingButtons" (click)="addClient()">+</button>
    <button class="buttonStyle editingButtons" (click)="editClient()" [disabled]="!selectedId">...</button>
    <button class="buttonStyle editingButtons" (click)="deleteClient()" [disabled]="!selectedId">-</button>
  </div>

  <client-form #clientForm></client-form>

  <div style="margin-top: 150px; float: left; margin-left: 800px" class="container">
    <ul class="pagination pagination-sm pager">
      <li class="previous"><a href="#">previous</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="next"><a href="#">next</a> </li>
    </ul>
  </div>
</div>
