<div class="filtLocation">
  <label style="padding-left: 16px">Фамилия<br><input type="text" [(ngModel)]="filtrSurname"/></label>
  <label style="padding-left: 16px">Имя<br><input type="text" [(ngModel)]="filtrName"/></label>
  <label style="padding-left: 16px">Отчество<br><input type="text" [(ngModel)]="filtrPatronymic"/></label>
  <button class="btn btn-primary" style="margin: 16px 16px"
          (click)="getClientsNum(); selectedPage = 1; getClientList(selectedPage, numOfClientsOnPage,
          filtrSurname, filtrName, filtrPatronymic, sortType, sortDirection); ">
    Фильтровать
  </button>
</div>

<div>
  <div class="tableLocation">
    <table class="client-list">
      <tbody>
      <tr>
        <th>ФИО</th>
        <th>Характер</th>
        <th (click)="changeSort('age')">Возраст
          <span *ngIf="sortDirection == 1 && sortType == 'age'">&nbsp;&uarr;</span>
          <span *ngIf="sortDirection == -1 && sortType == 'age'">&nbsp;&darr;</span>
          <span *ngIf="sortType != 'age'">&nbsp;&middot;</span>
        </th>
        <th (click)="changeSort('totalScore')">Общий остаток счетов
          <span *ngIf="sortDirection == 1 && sortType == 'totalScore'">&nbsp;&uarr;</span>
          <span *ngIf="sortDirection == -1 && sortType == 'totalScore'">&nbsp;&darr;</span>
          <span *ngIf="sortType != 'totalScore'">&nbsp;&middot;</span></th>
        <th (click)="changeSort('maxScore')">Максимальный остаток
          <span *ngIf="sortDirection == 1 && sortType == 'maxScore'">&nbsp;&uarr;</span>
          <span *ngIf="sortDirection == -1 && sortType == 'maxScore'">&nbsp;&darr;</span>
          <span *ngIf="sortType != 'maxScore'">&nbsp;&middot;</span></th>
        <th (click)="changeSort('minScore')">Минимальный остаток
          <span *ngIf="sortDirection == 1 && sortType == 'minScore'">&nbsp;&uarr;</span>
          <span *ngIf="sortDirection == -1 && sortType == 'minScore'">&nbsp;&darr;</span>
          <span *ngIf="sortType != 'minScore'">&nbsp;&middot;</span></th>
      </tr>

      <tr *ngFor="let record of listForPage" [ngClass]="{active: selectedId === record.id}"
          (click)="selectedId = record.id">
        <td>{{record.fio}}</td>
        <td>{{record.charm}}</td>
        <td>{{record.age}}</td>
        <td>{{record.totalBalance}}</td>
        <td>{{record.maxBalance}}</td>
        <td>{{record.minBalance}}</td>
      </tr>

      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary editingButtons" (click)="addClient()">+</button>
    <button class="btn btn-primary editingButtons" (click)="editClient()" [disabled]="!selectedId">...</button>
    <button class="btn btn-primary editingButtons" (click)="deleteClient()" [disabled]="!selectedId">-</button>
  </div>

  <client-form #clientForm></client-form>

  <div class="container pagLocation">
    <ul class="pagination pagination-sm pager">
      <li class="previous" [ngClass]="{disabled:selectedPage === 1}">
        <a
          (click)="selectedPage = 1; getClientList(selectedPage, numOfClientsOnPage,
          filtrSurname, filtrName, filtrPatronymic, sortType, sortDirection)">
          Начало</a>
      </li>
      <li *ngFor="let page of totalPages" [ngClass]="{active: selectedPage === page}"><a
        (click)="selectedPage = page; getClientList(selectedPage, numOfClientsOnPage,
        filtrSurname, filtrName, filtrPatronymic, sortType, sortDirection)">
        {{page}}</a>
      </li>
      <li class="next" [ngClass]="{disabled:selectedPage === totalPages.length}">
        <a
          (click)="selectedPage = totalPages.length;
          getClientList(selectedPage, numOfClientsOnPage,
          filtrSurname, filtrName, filtrPatronymic, sortType, sortDirection)">Конец</a>
      </li>
    </ul>
  </div>
</div>